<div class="cart">
  <h2 class="mat-dialog-title">{{data.title | titlecase}}</h2>
  <hr>
  <div class="cart-list">
    <div class="mat-dialog-content" *ngFor="let p of cartService.products">
      <img src="{{p.bgImageUrl}}" alt="{{p.name}}">
      <span>{{p.name}}</span>
      <span>{{p.description.price}}</span>
      <mat-icon
        class="delete-cross"
        aria-label="close"
        (click)="cartService.removeProduct(cartService.products.indexOf(p))"
      >close</mat-icon>
    </div>
  </div>
  <span>Sum: {{orderSum()}}</span>
  <hr>
  <div class="cart-footer">
    <button mat-raised-button color="warn" (click)="cartService.removeAllProducts()">Remove All</button>
    <button
      mat-raised-button
      mat-dialog-close
      color="primary"
      (click)="cartService.submit()"
      routerLinkActive="active"
      routerLink="/checkout"
      >Submit</button>
  </div>
</div>