.header {

  background-color: #7b1fa27d;
  padding: 20px 10px;
  color: #fff;

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      cursor: pointer;
      margin: 0;

      h1 {
        margin: 0;
      }
    }

    .menu {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      gap: 30px;

      .active {
        color: rgb(212, 212, 212);
      }
    }

    .registration {
      align-items: center;
      display: flex;
    }
  }
}

.show {
  display: block;
}

.hide {
  display: none;
}

@media (max-width: 950px) {
  .nav {
    flex-direction: column;
    gap: 20px;
  }

  .menu {
    gap: 0;
    flex-wrap: wrap;
  }
}