<div class="header">
    <div class="nav">
        <div class="logo">
            <h1 routerLink="/">{{title | titlecase}}</h1>
        </div>
        <div class="menu">
            <button mat-button routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/">
                Home
            </button>
            <button mat-button routerLinkActive="active" routerLink="/products">Products</button>
            <button mat-button routerLinkActive="active" routerLink="/about">About</button>
            <button mat-button routerLinkActive="active" routerLink="/contacts">Contacts</button>
        </div>
        <div class="registration">
            <app-cart></app-cart>
            <app-log-in-username
            [class.hide]="!this.auth.authUser"
            [class.show]="this.auth.authUser"
            ></app-log-in-username>
            <app-log-in
            [class.hide]="this.auth.authUser"
            [class.show]="!this.auth.authUser"
            ></app-log-in>
            <span
            [class.hide]="this.auth.authUser"
            [class.show]="!this.auth.authUser"
            >|</span>
            <app-registration
            [class.hide]="this.auth.authUser"
            [class.show]="!this.auth.authUser"
            ></app-registration>
            <span
            [class.hide]="!this.auth.authUser"
            [class.show]="this.auth.authUser"
            >|</span>
            <app-log-out
            [class.hide]="!this.auth.authUser"
            [class.show]="this.auth.authUser"
            ></app-log-out>
        </div>
    </div>
</div>