<div class="about">
  <div class="about-image">
    <div class="title">
      <h2>About</h2>
    </div>
  </div>
  <div class="about-information">
    <div class="information-card">
      <div class="card">
        <mat-icon>person</mat-icon>
        <h3>Lorem.</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis vero fugit voluptatum asperiores!
          Expedita, magni?</p>
      </div>
      <div class="card">
        <mat-icon>person</mat-icon>
        <h3>Lorem.</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis vero fugit voluptatum asperiores!
          Expedita, magni?</p>
      </div>
      <div class="card">
        <mat-icon>person</mat-icon>
        <h3>Lorem.</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis vero fugit voluptatum asperiores!
          Expedita, magni?</p>
      </div>
      <div class="card">
        <mat-icon>person</mat-icon>
        <h3>Lorem.</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis vero fugit voluptatum asperiores!
          Expedita, magni?</p>
      </div>
    </div>
    <div class="information-text">
      <div class="text-img">
        <img src="../../../../assets/img/about/bike.jpg" alt="">
      </div>
      <div class="text-desc">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias perspiciatis quia soluta, repellendus,
          consequuntur error fuga odio vitae tempora cupiditate saepe animi quis. Deleniti iure earum eius doloremque
          quidem quia, et consectetur illum ea! Neque non similique, consequuntur nulla ea voluptatem totam hic
          obcaecati cupiditate provident minus, accusantium vel nobis expedita qui sequi vero a voluptates. Temporibus
          similique perferendis quam illum eligendi nesciunt quis alias esse quasi dicta laborum quibusdam soluta
          doloremque vero nobis, dolorum commodi, hic ea sit error asperiores. Eos ea error quisquam voluptatibus soluta
          non? Beatae a ipsa quia perferendis vero nihil, itaque molestiae? Debitis, eaque quo?</p>
      </div>
    </div>
  </div>

</div>