<div class="rating">
    <h3 class="rating-title">Rating by product</h3>
    <mat-radio-group
    aria-label="Select an option"
    [(ngModel)] = 'ratingValue'
    (change) = 'ratingValue'
    (change) = 'addRatings()'
    [class.hide]="checkRaiting"
    [class.show]="!checkRaiting"
    *ngIf="auth.authUser"
    >
        <mat-radio-button value="1">1</mat-radio-button>
        <mat-radio-button value="2">2</mat-radio-button>
        <mat-radio-button value="3">3</mat-radio-button>
        <mat-radio-button value="4">4</mat-radio-button>
        <mat-radio-button value="5">5</mat-radio-button>
    </mat-radio-group>
    <span 
    class="rating-user"
    [class.hide]="!checkRaiting"
    [class.show]="checkRaiting"
    >You rated the item: {{this.ratingValue}}<mat-icon class="star" aria-label="star">star</mat-icon></span>
    <span *ngIf="!auth.authUser" style="color: rgba(255, 255, 255, 0.5)">
        Rating can be posted only by registered users!
    </span>
</div>