.products {
  display: flex;
  gap: 30px;
  margin: 50px 20px 100px 20px;

  .filter-conatainer {
    border-radius: 5px;
    margin-bottom: 50px;
    padding: 20px 20px 10px 20px;
    background-color: #424242;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border: 2px solid #9191913d;
    width: 300px;
    height: 100%;

    h4 {
      color: #fff;
    }

    .example-margin {
      margin-right: 16px;

      input {
        color: #fff;
      }

    }
  }

  .product-container {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    gap: 30px;

    .product-card {
      flex-grow: 1;
      flex-basis: 270px;
      box-sizing: border-box;

      .product-img {
        display: block;
        margin: auto;
        width: auto;
        padding: 10px;
      }

      .product-desc {
        border-top: 1px solid #424242;
        background: linear-gradient(0deg, rgb(46 46 46 / 15%), rgba(253, 187, 45, 0) 100%);
        padding: 20px;

        .product-rating {
          display: flex;
          gap: 10px;
          align-items: center;
          margin-bottom: 10px;

          .star {
            color: #c7a200;
          }

          span {
            font-weight: 500;
          }
        }

        .product-button {
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}