.product-container {

    padding: 50px 20px;

    .product-btn-back {
        margin: 20px 0;
        color: #919191;
    }

    .product-btn-back:hover {
        color: black;
    }

    .product-img {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

}