<div class="product-container">
    <a class="product-btn-back" mat-button routerLink="/products">&#10094; Back</a>
    <mat-grid-list cols="2" rowHeight="2:1" gutterSize="10px">
        <mat-grid-tile class="product-img" style="background-image: url({{product?.bgImageUrl}});"></mat-grid-tile>
        <mat-grid-tile>
            <div class="product-info">
                <h2 class="product-title">{{product?.name | titlecase}}</h2>
                <div class="product-rating">
                    <mat-icon class="star" aria-label="star">star</mat-icon>
                    <span>{{this.productRating.getRatingsByProductId(product?.id || 0)}}</span>
                </div>
                <h3 class="product-cost"><strong>{{product?.description?.price}} {{product?.description?.currency | uppercase}}</strong></h3>
                <span class="product-category"><strong>Category: </strong>{{product?.category | titlecase}}</span>
                <p class="porduct-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid, nostrum.</p>
                <button mat-raised-button color="primary">To cart</button>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
    <app-product-rating [prodId] = "product?.id" *ngIf="product?.id"></app-product-rating>
    <app-product-comments [prodId] = "product?.id" *ngIf="product?.id"></app-product-comments>
</div>
