.log-in {

  text-align: center;

  .mat-dialog-content {
    display: flex;
    flex-direction: column;
    gap: 10px;

    mat-form-field {
      width: 300px;
    }

  }

  .mat-dialog-actions {
    display: flex;
    justify-content: space-between;
  }
}