<div class="product-container">
    <a class="product-btn-back" mat-button routerLink="/products">&#10094; Back</a>
    <mat-grid-list cols="2" rowHeight="2:1" gutterSize="10px">
        <mat-grid-tile class="product-img" style="background-image: url({{product?.bgImageUrl}});"></mat-grid-tile>
        <mat-grid-tile>
            <div class="product-info">
                <h2 class="product-title">{{product?.name | titlecase}}</h2>
                <h3 class="product-cost"><strong>{{product?.description?.price | currency}}</strong></h3>
                <span class="product-category"><strong>Category: </strong>{{product?.category | titlecase}}</span>
                <p class="porduct-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid, nostrum.</p>
                <button mat-raised-button color="primary">To cart</button>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
    <div class="product-form">
        <h3>Leave a comment</h3>
        <form class="example-form">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Title</mat-label>
              <input matInput placeholder="title" value="">
            </mat-form-field>
          
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Leave a comment</mat-label>
              <textarea matInput placeholder="comment"></textarea>
            </mat-form-field>
          </form>
          <button mat-raised-button color="primary">Submit</button>
    </div>
</div>
