<div class="about-container">
    <h2 class="title">Contacts</h2>
    <div class="about-adress">
        <div class="phone">
            <h2>Phone</h2>
            <span>+375(55) 555-55-55</span>
        </div>
        <div class="adress">
            <h2>Adress</h2>
            <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis, quam?</span>
        </div>
        <div class="email">
            <h2>Email</h2>
            <span>example@gmail.com</span>
        </div>
    </div>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2348.5353797854996!2d27.692606616037928!3d53.939997837778684!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbceb30c773d29%3A0x93a2bb119fbbe856!2z0YPQuy4g0J3QuNC60LjRhNC-0YDQvtCy0LAgMjAsINCc0LjQvdGB0LogMjIwMTQx!5e0!3m2!1sru!2sby!4v1655912832817!5m2!1sru!2sby"
        width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>