.home-container {

  height: 100%;

  .home-category-card {

    cursor: pointer;

    .home-category {

      transform: rotate(270deg);
  
      h3 {
        font-size: 40px;
        font-weight: 800;
        text-align: justify;
      }
    }
  }
  
  .home-category-card:hover {
    background-color: rgb(243, 243, 243);
    color: #7b1fa2;
  }

}