<div class="registration">
  <h2 class="mat-dialog-title">{{data?.title | titlecase}}</h2>
  <form class="mat-dialog-content" [formGroup]="form" (ngSubmit)="submit()" *ngIf="!auth.successfulRegistration">
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput type="text" formControlName="username">
      <mat-hint>Enter your username</mat-hint>
      <mat-error *ngIf="form.controls['username'].hasError('required')">
        Username is required
      </mat-error>
      <mat-error *ngIf="form.controls['username'].hasError('minlength')">
        At least 4 characters
      </mat-error>
      <mat-error *ngIf="form.controls['username'].hasError('notCorrectUsername')">
        This username already exists
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput [type]="hideMain ? 'password' : 'text'" formControlName="password">
      <button type="button" mat-icon-button matSuffix (click)="hideMain = !hideMain" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hideMain">
        <mat-icon>{{hideMain ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-hint>Enter your password</mat-hint>
      <mat-error>
        At least 6 characters
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Confirm password</mat-label>
      <input matInput [type]="hideRepeat ? 'password' : 'text'" formControlName="confirmPassword">
      <button type="button" mat-icon-button matSuffix (click)="hideRepeat = !hideRepeat" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hideRepeat">
        <mat-icon>{{hideRepeat ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-hint>Confirm your password</mat-hint>
      <mat-error>{{getConfirmPasswordErrorMessage()}}</mat-error>
    </mat-form-field>
    <div class="reg-btn">
      <button mat-raised-button type="submit" [disabled]="form.invalid" color="primary">Submit</button>
      <button mat-raised-button mat-dialog-close color="warn">Cancel</button>
    </div>
  </form>
  <div class="registration-true" *ngIf="auth.successfulRegistration">
    <mat-icon inline class="registration-check">check</mat-icon>
    <span>Congratulations! You have registered. Now you can enter your personal account!</span>
    <button mat-raised-button mat-dialog-close color="primary">Close</button> 
  </div>
</div>