.hide {
  display: none;
}

.show {
  display: block;
}

.registration {

    text-align: center;
  
    .mat-dialog-content {
      display: flex;
      flex-direction: column;
      gap: 10px;
  
      mat-form-field {
        width: 300px;
      }
  
    }
  
    .reg-btn {
      display: flex;
      justify-content: space-between;
      gap: 20px;

      button {
        width: 100%;
      }

    }
  }

.registration-true {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  .registration-check {
    font-size: 36px;
    color: rgb(24, 138, 24);
  }

}