.log-in {

  text-align: center;

  .mat-dialog-content {
    display: flex;
    flex-direction: column;
    gap: 10px;

    mat-form-field {
      width: 300px;
    }

  }

  .login-btn {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    button {
      width: 100%;
    }

  }
}